<div class="text-field field">
  <%= form.label :title, class: 'label' %>
  <p class="control">
  	<%= form.text_field :title, type: 'text', class: 'input' %>
  </p>
</div>

<div class="text-field field">
  <%= form.label :content, class: 'label' %>
  <p class="control">
  	<%= form.text_area :content, type: 'email', class: 'input' %>
  </p>
</div>