<!DOCTYPE html>
<html>
  <head>
    <title>Priorities</title>
    <%= csrf_meta_tags %>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item">
          <h1> Priorities </h1>
        </a>
      </div>
    </nav>

    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Joss's Priorities
          </h1>
        </div>
      </div>
    </section>

    <%= yield %>
  </body>
</html>
